@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Title-->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>In this app we are going to manipulate a SQL server through web app</p>
</div>
<br />

<!--Filter or search button-->



<br />

<!--Inserting title and add button-->

<h2>Search by Part Numbers</h2>

<form method="get" asp-page-handler="OnGet">
    <div class="form-group">
        <label for="searchTerm">Part Number: </label>
        <input type="text" id="searchTerm" name="searchTerm" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>

    <!--Button to import to excel-->

    <a asp-page="./Index" asp-route-searchTerm="@Model.SearchTerm" asp-route-export="true" class="btn btn-success">Export to Excel</a>

</form>

<!--Table-->

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Part Number</th>
            <th>Customer</th>
            <th>Building</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        <!--body from the table, iterate from the list created on the C# code-->
        @foreach (var item in Model.listpartnumbers)
        {
            <tr>
                <td>@item.PKPartNumber</td>
                <td>@item.PartNumber</td>
                <td>@item.Customer</td>
                <td>@item.Building</td>
                <td>@item.Available</td>
            </tr>
        }
    </tbody>
</table>

<br />

